@import './reset.css';

@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	/* Colors */
	--blackpure: #0F1931;
	--black: #0F1931;
	--black-border: #2D4159;
	--white: #fff;
  --purple: #C89768;

	/* Nav */
	--nav-bg: var(--black);
	--nav-border: var(--black-border);
	--nav-text: var(--white);

	/* Header */
	--header-bg: var(--black);
	--header-text: var(--white);

	/* Footer */
	--footer-bg: var(--black);
	--footer-text: var(--white);

	/* Light mode */
	--page-bg: var(--white);
	--text-color: var(--black);
	--accent: var(--purple);
	--title-1: var(--accent);
	--project-card-bg: var(--white);
	--project-card-text: var(--black);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
	/* Dark mode */
	--page-bg: #2D4159;
	--text-color: var(--white);
	--title-1: var(--white);
	--project-card-bg: var(--black);
	--project-card-text: var(--white);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  font-family: "Roboto", sans-serif;
	letter-spacing: 0.9px;

	/* Light mode */
	background-color: var(--page-bg);
	color: var(--text-color);
}

/* General */

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.none {
	display: none !important;
}

.section {
	padding: 70px 0;
}

.title-1 {
	margin-bottom: 4.5rem;
	font-size: 4.5rem;
	font-weight: 700;
	line-height: 1.3;
	color: var(--title-1);
	text-align: center;
}

.title-2 {
	margin-bottom: 1.4rem;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.3;
}

/* Nav */

.nav {
	padding: 1.3rem 0;
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--nav-border);
	color: var(--nav-text);
}

.nav-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 2rem;
	row-gap: 2rem;
	flex-wrap: wrap;
}

.logo {
	margin-right: auto;
	color: var(--nav-text);
	font-size: 1.5rem;
	 font-family: "Michroma", sans-serif;
   font-weight: 400;
}

.logo strong {
	font-weight: 700;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 0.8rem;
	align-items: center;
	column-gap: 2.3rem;
	font-size: 1rem;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.nav-list__link {
	color: var(--nav-text);
	transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
	opacity: 0.8;
}

.nav-list__link--active {
	position: relative;
}

.nav-list__link--active::before {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
}

/* Dark mode btn */

.dark-mode-btn {
	order: 9;
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 3.7rem;
	height: 1.7rem;
	padding: 5px;
	border-radius: 50px;
	background-color: #272727;
}

.dark-mode-btn::before {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	display: block;
	width: 1.7rem;
	height: 1.7rem;
	border-radius: 50%;
	background-color: #fff;
	transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
	left: 2rem;
}

.dark-mode-btn__icon {
	position: relative;
	z-index: 9;
}

/* Header */

.header {
	padding: 40px 0;
	min-height: 31rem;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--header-bg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;

	color: var(--header-text);
	text-align: center;
}

.header__wrapper {
	padding: 0 15px;
	max-width: 700px;
}

.header__title {
	margin-bottom: 1rem;
	font-size: 2.1rem;
	font-weight: 500;
	line-height: 1.4;
}

.header__title strong {
	font-size: 3.7rem;
	font-weight: 700;
}

.header__title em {
	font-style: normal;
	color: var(--accent);
}

.header__text {
	margin-bottom: 3rem;
	font-size: 1.3rem;
}

/* Btn */

.btn {
	display: inline-block;
	height: 3rem;
	padding: 1rem 2rem;
	border-radius: 5px;
	background-color: var(--accent);
	color: var(--white);
	letter-spacing: 0.15px;
	font-size: 1rem;
	font-weight: 500;
	transition: opacity 0.2s ease-in;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	position: relative;
	top: 1px;
}


/* Projects  */

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
	column-gap: 45px;
	row-gap: 45px;
}

.project {
	background-color: var(--blackpure);
	box-shadow: var(--box-shadow);
	border-radius: 10px;
}

.project__img {
	border-radius: 20px;
  padding: 30px;
  width: 100%;
  object-fit: cover;
  transition: all 0.8s ease-in-out;
}

.project__img:hover{
  padding: 10px 10px 20px 10px;
  opacity: 0.8;

}
.project__title {
	padding: 0.5rem 30px;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.3;
	color: var(--purple);
}
.project__subtitle {
  color: var(--white);
  font-size: 1.1rem;
  padding: 0.8rem 30px 30px;
}

/* Project details */

/* .project-details {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
} */


/* Content list */

.content-list {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
	text-align: center;
}
.content-list p,
.content-list a {
	color: var(--accent);
}

.content__item {
  margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 3rem;
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.5;
}

/* Footer */

.footer {
	margin-top: auto;
	padding: 60px 0 50px;
	background-color: var(--footer-bg);
	color: var(--footer-text);
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 27px;
}

.footer__wrapper a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-decoration: none;
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 10px 20px;
	align-items: center;
  color: inherit;
}


@media (max-width: 700px) {
 html {
   font-size: 14px;
 }

.projects {
  grid-template-columns: 1fr;
}
 

	/* Nav */

	.nav-row {
		justify-content: space-between;
	}
}

 @media (max-width: 570px) {
 html {
   font-size: 12px;
 }

 }
  @media (max-width: 500px) {

.header__title strong{
  font-size: 2.5rem;
}
.title-1{
  font-size: 2.4rem;
}
 }

   @media (max-width: 479px) {
 .dark-mode-btn {
		order: 0;
	}

 }